@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


button {
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
  margin: 0.8rem 1.4rem;
  width: auto;
  background: #654EB0;
  font-size: 1.2rem;
  border: 2px solid #654EB0;
  box-shadow: 0px 10px 14px -7px #654eb0;
  color: white;
}

button:hover {
  background-color: DarkOrchid;
  transition-duration: 0.2s;
}

a {
  color: white;
}

a:hover {
  color: #F7F8E0;
}

.zoom {
  padding: 50px;
  background-color: DarkOrchid;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




h2, h3, p {
font-family: 'Work Sans', sans-serif;
}

