@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.App {
  text-align: center;
  background-color: #ededed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


h2, h3, p {
font-family: 'Work Sans', sans-serif;
}